.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.black{
  color: black;
}



.widget-app{
  padding: 32px;
  border-radius: 16px;
  background: linear-gradient(to bottom, #a0f393, #22228b);
  min-height: fit-content;
}

.task-list{
  width: 100%;
  min-height: 500px;
  background-color: transparent;
  border-radius: 16px;
  box-shadow: 2px 2px 7px 7px rgba(0, 0, 0, 0.1);
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  cursor: pointer;
}


.task-list-flex{
  display: flex;
  align-items: center;
  justify-content: space-around;
}