.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.black {
  color: black;
}


/* style main container */
.widget-app {
  padding: 32px;
  border-radius: 16px;
  border: 1px solid white;
  min-height: fit-content;
}

.task-list {
  width: 100%;
  min-height: fit-content;
  background-color: transparent;
  border-radius: 16px;
  box-shadow: 2px 2px 7px 7px rgba(0, 0, 0, 0.1);
}

.habugher {
  width: 70%;
  padding: 10px;
  margin: 10px;
}


.newtask-list {
  margin-top: 10px;
  height: fit-content;
  border-radius: 16px;
  background-color: transparent;
  border-radius: 16px;
  box-shadow: 2px 2px 7px 7px rgba(0, 0, 0, 0.1);
}



/* flex class */
.flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.flex_list {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.gradient-input {
  width: 160px;
  padding: 10px;
  margin-inline: 10px;
  font-size: 1em;
  border: 2px solid transparent;
  border-radius: 5px;
  margin-bottom: 17px;
  color: black;
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.gradient-input:hover {
  box-shadow: 0 0 10px #00f7ff;
  border: 2px solid #00f7ff;
}

.secondary {
  width: 50%;
  font-size: 0.8em;
}


/* style button */
button {
  height: 56px;
  width: 140PX;
  border-radius: 5px;
  background-color: transparent;
  color: aliceblue;
  margin-bottom: 9PX;
}

button:hover {
  box-shadow: 0 0 10px rgb(56, 2, 117);
  border: 2px solid rgb(56, 2, 117);
}


.outline {
  text-decoration: line-through;
}


table,
th,
td {
  border: 1px solid black;
}

.newpersonform {
  border-radius: 20px 20px 4px 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  min-height: 150px;
}